<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/connectTest.css">
</head>

<body>

    <script>
        function connect(host) {
            return new Promise((resolve, reject) => {
                    $.post({
                        url: '../api/connectTest',
                        contentType: 'application/json',
                        data: JSON.stringify({ 'host': host }),
                            success: function(data) {
                                console.log('Data received:', data);
                                document.getElementById('res_area').innerHTML = data;
                            },
                            error: function(xhr, status, error) {
                                console.error('Error:', error);
                            }
                    });
            })
            
        }

        function connectTest() {
            host = document.getElementById("hostInput").value;

            connect(host)
        }
    </script>

    <div class="container">
        <div class="menu-container">
            <div class="menu" id="menu">
                <img src="./img/logo.png" alt="Logo" class="logo">
                <input type="button" class="menu-button" value="Index" onclick="window.location.href = '../index';">
                <input type="button" class="menu-button current-page" disabled="true" value="Connection test" onclick="window.location.href = '../connectTest';">
                <input type="button" class="menu-button" value="Log" onclick="window.location.href = '../log';">

            </div>
            <div class="menu-toggle">
                <img src="./img/point.png" alt="Menu Toggle" onclick="show_menu()">
            </div>
        </div>
        <div id="userInput">
            <p>Host: <input type="text" id="hostInput" value=""></p>
            <input type="button" value="Submit" onclick="connectTest()">
        </div>
        <div id="res">
            <textarea id="res_area" name="res" rows="40" cols="100" disabled></textarea>
        </div>
    </div>

</body>

</html>