<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/connectTest.css">
</head>

<body>

    <script>
        function connect(host) {
            return new Promise((resolve, reject) => {
                    $.post({
                        url: '../api/connectTest',
                        contentType: 'application/json',
                        data: JSON.stringify({ 'host': host }),
                            success: function(data) {
                                console.log('Data received:', data);
                                document.getElementById('res_area').innerHTML = data;
                            },
                            error: function(xhr, status, error) {
                                console.error('Error:', error);
                            }
                    });
            })
            
        }

        function connectTest() {
            host = document.getElementById("hostInput").value;

            connect(host)
        }
    </script>
    <!-- Top navigation -->
    <header>
        <div class="logo">
            <img src="./img/logo.png" alt="Logo">
            <h1>Electric machine HMI 發電機人機控制介面</h1>
        </div>
        <nav>
            <ul>
                <li><a href="../index">Index</a></li>
                <li><a href="../controll">Controll</a></li>
                <li><a href="../connectTest">Connection test</a></li>
                <li><a href="../log">Snort log</a></li>
                <li><a href="../">Log out</a></li>
                <li><a href="#">Settings</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <div id="userInput">
            <p>Connection test IP / host: <input type="text" id="hostInput" value="" width="400"></p>
            <input type="button" value="Submit" onclick="connectTest()">
        </div>
        <div id="res">
            <textarea id="res_area" name="res" rows="40" cols="100" disabled></textarea>
        </div>
    </div>

</body>

</html>