<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="./js/index.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>

<body>
    <script>

    </script>

    <div class="container">
        <div class="menu-container">
            <div class="menu" id="menu">
                <img src="./img/logo.png" alt="Logo" class="logo">
                <input type="button" class="menu-button current-page" disabled="true" value="Index"
                    onclick="window.location.href = '../index';">
                <input type="button" class="menu-button" value="Connection test"
                    onclick="window.location.href = '../connectTest';">
                <input type="button" class="menu-button" value="Log" onclick="window.location.href = '../log';">

            </div>
            <div class="menu-toggle">
                <img src="./img/point.png" alt="Menu Toggle" onclick="show_menu()">
            </div>
        </div>
        <div class="data">
            <div class="design_background">
                <img id="power_1" src="./img/electric_design_off.png" class="power_1_img">
                <img id="power_2" src="./img/electric_design_off.png" class="power_2_img">
                <img src="./img/electric_design_sign.png" class="sign_img">
            </div>
            <div id="modbus">
                <!-- <table>
                    <tbody id="modbus">
                    </tbody>
                </table> -->
            </div>
            <div id="chart">
                <canvas id="chart_canvas" width="400" height="100"></canvas>
                <button onclick="updateCurrent('power')">power</button>
                <button onclick="updateCurrent('fuelConsumption')">fuelConsumption</button>
                <button onclick="updateCurrent('frequency')">frequency</button>
                <button onclick="updateCurrent('electricProduction')">electricProduction</button>
                <button onclick="updateCurrent('rotationalSpeed')">rotationalSpeed</button>
            </div>
        </div>
    </div>
</body>

</html>