<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>

<body>

    <script>
        function test() {
            console.log(document.getElementById("hostInput").value);
            $.post({
                url: '../api/connectTest',
                contentType: 'application/json',
                data: JSON.stringify({ host: document.getElementById('hostInput').value }),
                    success: function(data) {
                        console.log('Data received:', data);
                        document.getElementById('res').innerHTML = data;
                    },
                    error: function(xhr, status, error) {
                        console.error('Error:', error);
                    }
            });
        }
    </script>

    <div class="container">
        <div class="menu-container">
            <div class="menu" id="menu">
                <img src="./img/logo.png" alt="Logo" class="logo">
                <input type="button" class="menu-button" value="Index" onclick="window.location.href = '../index';">
                <input type="button" class="menu-button" value="Connection test" onclick="window.location.href = '../connectTest';">
                <input type="button" class="menu-button current-page" value="Log" onclick="window.location.href = '../log';" disabled="true">
            </div>
            <div class="menu-toggle">
                <img src="./img/point.png" alt="Menu Toggle" onclick="show_menu()">
            </div>
        </div>
        <!-- <p>Host: <input type="text" id="hostInput" value=""></p>
        <input type="button" value="Submit" onclick="test()">
        <div id="res"></div> -->
    </div>

</body>

</html>