<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snort Log</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/log.css">

</head>
<body>

    <script>
        function getLog(){
            return new Promise((resolve, reject) => {
                $.get(`../event_log`, function (res, err) {
                    if (res == undefined) {
                        reject(err);
                    }

                    resolve(res);
                });
            })
        }
        function setLog(){
            getLog()
                .then( (recv) => {
                    document.getElementById('log').innerHTML = '';
                    const eventLogs = recv['EventLogs'];
                    const level = recv['level'];
                    const eventID = recv['eventID'];

                    eventLogs.forEach((eventLog) => {
                        const new_tr = document.createElement("tr");
                        
                        const levelElement = document.createElement("td");
                        levelElement.classList = "level " + level[eventLog['level']];
                        levelElement.innerHTML = level[eventLog['level']];

                        const timeElement = document.createElement("td");
                        timeElement.innerHTML = eventLog['time'];

                        const eventIDElement = document.createElement("td");
                        eventIDElement.innerHTML = eventLog['eventID'];
                        
                        const contentElement = document.createElement("td");
                        contentElement.innerHTML = eventLog['content'];

                        const ipElement = document.createElement("td");
                        ipElement.innerHTML = eventLog['ip'];

                        new_tr.appendChild(levelElement);
                        new_tr.appendChild(timeElement);
                        new_tr.appendChild(eventIDElement);
                        new_tr.appendChild(contentElement);
                        new_tr.appendChild(ipElement);

                        document.getElementById('log').appendChild(new_tr)
                    });
                });
        }
        setLog();
        setInterval( () => {
            setLog();
        }, 6000);
    </script>
    <!-- Top navigation -->
    <header>
        <div class="logo">
            <img src="./img/logo.png" alt="Logo">
            <h1>Electric machine HMI 發電機人機控制介面</h1>
        </div>
        <nav>
            <ul>
                <li><a href="../index">Index</a></li>
                <li><a href="../controll">Controll</a></li>
                <li><a href="../connectTest">Connection test</a></li>
                <li><a href="../log">Snort log</a></li>
                <li><a href="../">Log out</a></li>
                <li><a href="#">Settings</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        
        <div class="log-container">
            <table class="log-table">
                <thead>
                    <th>Level</th>
                    <th>Time</th>
                    <th>Event ID</th>
                    <th>Content</th>
                    <th>IP</th>
                </thead>
                <tbody id="log">
                </tbody>
            </table>
        </div>
        
    </div>

</body>

</html>