<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/log.css">

</head>
<body>

    <script>
        function getLog(){
            return new Promise((resolve, reject) => {
                $.get(`../event_log`, function (res, err) {
                    if (res == undefined) {
                        reject(err);
                    }

                    resolve(res);
                });
            })
        }
        function setLog(){
            getLog()
                .then( (recv) => {
                    document.getElementById('log').innerHTML = '';
                    const eventLogs = recv['EventLogs'];
                    const level = recv['level'];
                    const eventID = recv['eventID'];

                    eventLogs.forEach((eventLog) => {
                        const new_tr = document.createElement("tr");
                        
                        const levelElement = document.createElement("td");
                        levelElement.classList = "level " + level[eventLog['level']];
                        levelElement.innerHTML = level[eventLog['level']];

                        const timeElement = document.createElement("td");
                        timeElement.innerHTML = eventLog['time'];

                        const eventIDElement = document.createElement("td");
                        eventIDElement.innerHTML = eventLog['eventID'];
                        
                        const contentElement = document.createElement("td");
                        contentElement.innerHTML = eventLog['content'];

                        const ipElement = document.createElement("td");
                        ipElement.innerHTML = eventLog['ip'];

                        new_tr.appendChild(levelElement);
                        new_tr.appendChild(timeElement);
                        new_tr.appendChild(eventIDElement);
                        new_tr.appendChild(contentElement);
                        new_tr.appendChild(ipElement);

                        document.getElementById('log').appendChild(new_tr)
                    });
                });
        }
        setLog();
        setInterval( () => {
            setLog();
        }, 6000);
    </script>

    <div class="container">
        <div class="menu-container">
            <div class="menu" id="menu">
                <img src="./img/logo.png" alt="Logo" class="logo">
                <input type="button" class="menu-button" value="Index" onclick="window.location.href = '../index';">
                <input type="button" class="menu-button" value="Connection test" onclick="window.location.href = '../connectTest';">
                <input type="button" class="menu-button current-page" value="Log" onclick="window.location.href = '../log';" disabled="true">
            </div>
            <div class="menu-toggle">
                <img src="./img/point.png" alt="Menu Toggle" onclick="show_menu()">
            </div>
        </div>
        
        <div class="log-container">
            <table class="log-table">
                <thead>
                    <th>Level</th>
                    <th>Time</th>
                    <th>Event ID</th>
                    <th>Content</th>
                    <th>IP</th>
                </thead>
                <tbody id="log">
                </tbody>
            </table>
        </div>
        
    </div>

</body>

</html>